
.pill {
  cursor: pointer;
  padding: 2px;
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
}

.active-pill {
  /* background-color: #b4b4b4; */
  /* Adjust the color as needed */
  font-weight: bold;
}

.nav-pills {
  cursor: pointer;
}

.center-pills {
  display: flex;
  justify-content: center;
}

.scene-pill {
  transition: transform 0.3s;
  width: 80px;
  border-radius: 5px;
}

.scene-pill:hover {
  transition: transform 0.3s;
  width: 80px;
  border-radius: 5px;
  scale: 1.1;
  transition: scale 0.1s;
}

.scene-pill.active {
  background: #1772d0;
}

.button {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-style: inherit;
  font-weight: inherit;
  box-sizing: inherit;
  text-decoration: none;
  user-select: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: none;
  display: inline-flex;
  height: 2.5em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-top: calc(.5em - 1px);
  text-align: center;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #363636;
  border-color: transparent;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 290486px;
  padding-left: calc(1em + .25em);
  padding-right: calc(1em + .25em);
}

.button .icon {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: 'Noto Sans', sans-serif;
  user-select: none;
  line-height: 1.5;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  font-size: 1rem;
  box-sizing: inherit;
  font-style: inherit;
  font-weight: inherit;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  margin-left: calc(-.5em - 1px);
  margin-right: .25em;
}
